[Desktop Entry]
Name=dremote
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/dremote/dremote.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
